.background {
	-fx-background-color: red;
	
}

.custom-button {
    -fx-font: 16px "Comic Sans MS";
    -fx-padding: 10;
    -fx-background-color: #00FF00;
    -fx-text-fill: #FF00FF;
    -fx-width: 1000;
}

.custom-button:hover {
    -fx-background-color: #9ACD32;
}